.footer {
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  
  .footer-icons {
    display: flex;
    gap: 10px;
  }
  