* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-decoration: none;

    color: var(--text-color);
}
body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
  }