.main-section1 {
    height: 600px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./img/main/main-background.png) fixed;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .main-features {
    padding: 94px 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  