.nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-links {
    display: flex;
    gap: 50px;
  
    a {
      position: relative;
      &:hover::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 10px;
        position: absolute;
        bottom: -32px;
        background: $blue-color;
        opacity: 1;
      }
    }
  }